@font-face {font-family: "iconfont";
  src: url(../font/iconfont.eot?t=1556902980299); /* IE9 */
  src: url(../font/iconfont.eot?t=1556902980299#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(../font/iconfont.woff?t=1556902980299) format('woff'),
  url(../font/iconfont.ttf?t=1556902980299) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url(../font/iconfont.svg?t=1556902980299#iconfont) format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont:before{font-size: 32px!important;}
.iconfont:after{font-size: 18px!important;}

.icon-denglu:after {content: "\e633";}
.icon-HSBC:before {content: "\e6ac";}
.icon-settings:after {content: "\e7c7";}
.icon-delete:after {content: "\e68a";}
.icon-follow:after {content: "\e703";}
.icon-hengxian:after {content: "\e604";font-size: 32px!important;line-height: 30px;}
.icon-hengxian:before {content: "\e604";line-height: 30px;}
.icon-guanzhu:after {content: "\e63a";}

*{ margin: 0; padding: 0; box-sizing: border-box;}
li { list-style: none;}
img{border:0;}
body a{text-decoration: none;}
body, html{height: 100%; min-width: 600px;}
html{height: 100%; min-width: 600px;}

.page{position: relative; top: 0;left: 0; right: 0; bottom: 0;} 
.header, .content {width: 100%;}
.icon-HSBC{color: red;}

.header {height: 70px;padding:10px 8%;border-bottom: 1px solid #DDD;}
.header a{color: black;}
.header .logoName{font-size: 28px; padding: 0 10px;line-height: 50px;}
.header .login{float:right; padding: 0 10px;height: 50px;line-height: 50px;}
.header .language{float: right; padding: 0 10px;height: 50px;line-height: 50px;}
.header .language button{border: none;box-shadow: none;}

/*list*/
.search{height: 60px;width: 100%;padding: 5px 25%;}
.list-swiper{width: 100%;height: 200px; max-height: 200px;}
.list-swiper .list-item{width: 20%; float: left;padding-right: 10px;margin-bottom: 32px;}
.list-swiper .list-item img{width: 100%; height: 100px;}
.list-swiper .list-item .ant-card{width: 100%;height: 100%;}
.list-swiper .list-item .productDetial{width: 100%;padding: 0 5px;}
.list-swiper .productName{width: 100%;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height: 20px;}
.list-swiper div.ant-progress-outer{padding-right: 0;}
.list-swiper .ant-progress-text{display: none;width: 0;}
.list-swiper .price-swiper{width: 100%;text-align:right;padding: 0 5px;}
.list-swiper .insure_from_price {color: #ff7814;}
.list-swiper .price{color: red;}
.list-swiper .funcBlock{width: 100%;}
.list-swiper .funcBlock .ant-comment{float: left;color: red;width: 60%;height: 50px;}
.list-swiper .funcBlock .ant-comment-inner{padding: 0;}
.list-swiper .funcBlock .delete{float: left;color: black;width: 10px;float: right}
.icon-follow, .icon-delete{width: 25px!important;height: 25px;line-height: 25px;}
.ant-card-body{padding: 0!important;}


/* loading */
.loading{position: fixed;top: 0;left: 0; right: 0; bottom: 0;width: 100%; height: 100%;text-align: center; background:rgba(0, 0, 0, 0.65);padding-top:280px;}
.show {display: block;}
.hide {display: none;}

/* home */
.home .content{padding: 10px 8%;}
.home .recommendation{width: 100%;padding: 15px 25%;font-weight: normal;font-family: Arial;font-size: 28px;text-align: center;}
.home .content .recommendationList{height: 250px;overflow: hidden;}
.home .content .recommendationList .list-swiper img{height: 130px;}
.home .content .recommendationList .list-swiper{height: 350px;}
.home .content .pagination{width: 100%;height: 40px;}
.home .content .pagination .ant-pagination{float: right;}
.home .content .pagination .ant-pagination-simple-pager{height: 23px;}
/* login */
.login .content{padding: 7.5% 25%;text-align: center;height:60%!important}
.login .content .login-form-button{display: block;}
.login .content .login-form{margin: 0 auto; width: 300px;}
.login .content .ant-checkbox-wrapper{float: left;}
.login .content .login-form-forgot{float: right;}
.login .content button{width: 100%;}

/* regiser */
.regiser .content{padding: 5% 25%;text-align: center;height:60%!important}
.regiser .ant-form-item-control{text-align: left;}

/* detial */
.detial .content{
  padding: 2.5% 15%;
}
.detial .content .contentTop{
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}
.product_insure {
  margin: 0 auto;
  width: 100%;
  border: 1px dashed #dcdcdc;
  background: #fff;
  overflow: hidden;
}
.product_insure_img{
  margin: 2px 0 0 2px;;
  width: 38%;
  height: 350px;
}
.product_insure_img img{
  width: 85%;
  height: 100%;
}
.product_insure_main{
  width: 60%;
}
.fl{float:left;}
.insure_main_productName {
  font-size: 28px;
  color: black;
  font-weight: 500;
}
.product_insure_main_category{
  font-size: 14px;
  color:#008000;
}
.insure_main_productIntroduction {
  font-size: 16px;
  border-bottom: 1px dashed #dcdcdc;
  line-height: 23px;
  color: #000000;
}
.product_insure_main label {
  position: relative;
  display: block;
  height: 48px;
  font-size: 14px;
}
.product_insure_main label span.insure_from_title {
  display: inline-block;
  width: 94px;
}
.product_insure_main label span.insure_from_price {
  color: #ff7814;
  font-size: 20px;
}
.product_insure_main_buy{
    width: 124px;
    height: 40px;
    background: #ff7814;
    color: #fff;
    font-size: 14px;
    border: none;
    line-height: 40px;
    text-align: center;
    display:inline-block 
}
.detial .content  .ant-comment {
  display: inline-block;
  margin-left: 80px;
  color: red;
}
.detial .content .ant-comment-inner {
  display: inline-block;
  padding: 0;
}
.detial .recommendation{width: 100%;padding: 15px 25%;line-height: 30px;font-weight: normal;font-family: Arial;font-size: 28px;text-align: center;}

